/* Body */
*{
font-family: 'Cookie', cursive;
}

body {
  background: linear-gradient(#c7e5d2, #134d71);
  background-attachment: fixed;
  margin: 0;
}

main {
  display: flex;
  align-content: center;
  flex-direction: row;
  height: 100vh;
}

h1 {
  margin: auto;
  text-decoration: underline;
}

p {
  font-size: 50px;
}

/* Sections  */
.player-one,
.player-two,
.game-board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  font-size: 2em;
  width: 40%;
}

.player-one,
.player-two{
  text-decoration: underline;
}

/* Gameboard */
.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background: #e2fef4;
  color: navy;
  flex-wrap: wrap;
}

.article-gameboard-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 250px;
  margin-right: 234px;
  margin-top: auto;
  margin-bottom: 20px;
}

/* Buttons */
.button0,
.button1,
.button2{
  border-top: none;
}

.button0,
.button3,
.button6{
  border-left: none;
}

.button6,
.button7,
.button8{
  border-bottom: none;
}

.button2,
.button5,
.button8{
  border-right: none;
}

button {
  border: 6px solid white;
  background-color: #e2fef4;
  border-image: linear-gradient(45deg, #c7e5d2, #134d71) 1;
  height:140px;
  width: 160px;
  font-size: 2em;
}

/* Tokens */
.buffalo-token,
.mountain-token{
  border-radius: 10px;
  font-size: 3em;
}

.buffalo-turn,
.mountain-turn{
  margin-bottom: 0;
  font-size: 1em;
}

.turn-token,
.token-chooser{
  text-decoration: underline;
}

/* Hidden */
.hidden {
  display: none;
}
