*{
font-family: 'Cookie', cursive;
}

body {
/* Need to change background color but keep the blue! */
    background: linear-gradient(#134d71, #c7e5d2);
    background-attachment: fixed;
    margin: 0;
}

main {
  display: flex;
  align-content: center;
  flex-direction: row;
  border: 2px solid red;
  height: 100vh;
}

.player-one,
.player-two,
.game-board {
  display: flex;
  color:  #ffffff;
  font-size: 200%;
  border: 2px solid white;
  /* height: 100vh; */
  width: 50%;
}

.game-board {
  width: 70%;
}

.buffalo-token{
  border-radius: 10px;
  width: 20%;
  height: 40%;
}
